```
input {
  udp {
    port => {{ logstash_syslog_port }}
    type => "syslog"
    codec => plain {
      charset => "UTF-8"
    }
  }

  tcp {
    port => {{ logstash_syslog_port }}
    type => "syslog"
    codec => plain {
      charset => "UTF-8"
    }
  }

  beats {
    port => {{ logstash_beats_port }}
    type => "beats"
  }
}
```
